@import '/styles/variables.scss';
@import '/styles/palette.scss';

.layout {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.headerContainer {
  position: relative;
  width: 100%;
  padding: 0 48px;
}

.nav {
  display: flex;
  column-gap: 30px;
  margin-bottom: 40px;
  justify-content: center;
}

.main {
  position: relative;
  width: 100%;
  flex-grow: 1;
  margin-top: 60px;
  padding-top: 30px;
}

.footerContainer {
  @extend .headerContainer;
}
