$white: var(--white);
$black: var(--black);
$red: var(--red);

$btn-search-bg: rgb(37, 122, 250);
$main-bg-color: var(--bg);
$search-input-bg: var(--search-input-bg);
$search-input-bg-hover: var(--search-input-bg-hover);
$search-input-bg-active: var(--search-input-bg-active);
$search-button-bg: var(--search-button-bg);
$search-button-bg-hover: var(--search-button-bg-hover);
$text-color: var(--color-text);

$header-bg: var(--color-header-bg);

$color-main-1: var(--color-main-1);
$color-main-2: var(--color-main-2);
$color-main-3: var(--color-main-3);
$color-main-4: var(--color-main-4);
$color-main-5: var(--color-main-5);
$color-main-6: var(--color-main-6);
$color-main-7: var(--color-main-7);
$color-main-8: var(--color-main-8);
$color-main-9: var(--color-main-9);

$green: var(--green);

$header-shadow-color: rgba(0, 0, 0, 0.1);